@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
  width:100%;
  height:100%;
  background-attachment:fixed;
}
.main{
  width:100%;
  display:grid;
  grid-template-rows:repeat(13,minmax(10px,auto));
  grid-gap:0;
}
.container{
  width:100%;
  position:relative;
  grid-row:1/span 1 ; 
}
.info{
  grid-row:1/span 1 ; 
  grid-column:1;
  width:100%;
  background-color: #e0e0e0;
  display:flex;
  overflow:hidden;
 
}
.info-left{
  display:flex;
}
.info-left-splash{
  width:1px ;
  height: 1em;
  background-color: gray;
  margin-top:1em;
  overflow:hidden;
  margin-left:.5em;
}
.info-left>p{
  font-size:12px;
  margin-left:1em;
  padding:1.5em .1em;
}
.info-right{
  margin-left:auto;
}
.info-right>svg{
  padding-right:1em 1em;
  margin-right:.2em;
  margin-top:1em;
}
.search{
  width:100%;
  height:3.5em;
  display:flex;
 
  margin-top:0;
  padding-top:0;
}
.search-img{
  width:20vw;
  margin-left:2em;
  padding:0.5em 1em;
}
.search-img img{
  width:100%;

}
@media (min-width:1100px){
  .search-img img{
    transform:scale(0.8) translateY(-12px);
    padding:0.01em .01em;
  }
  
}
.search-input{
  margin-left:auto;
  padding : .8em 1em ; 
  position:relative; 
  
}
.search-input input{
  height:2em;
  border-radius: 50px 0 0 50px ; 
  border:0.5px solid gray ; 
  
}

.search-left{
  margin-left:auto;
  display-flex;
  flex-direction:row;
}
.search-left-head{
  margin-left:auto;
}
.search ul{
  display:flex;
  list-style-type:none;
}
.currency-head{
  margin-top:1em;
  position:relative;
  cursor:pointer;
  transition:1s;
  margin-left:auto;
}
.currency-list{
  display:flex;
  flex-direction:column;
  background-color: gray;
  text-align:center;
  opacity:0;
  border-radius:5px ;
  transition:0.6s;
}
.currency-list li{
  padding:0.1em 0.1em;
  
}
.currency-head:hover .currency-list{
  opacity:1;
}
.navbar{
  width:100%;
  background-color: #7e4c4f;
  border:1px solid black;\
  overflow:hidden;
  
}
.navbar-ul{
  list-style-type:none;
  display:flex;
  
}
.navbar-iteam{
  padding-left:.3em;
  color:rgba(255,255,255,.9);
  line-height:3em;
  font-size:18px;
  padding:10px 20px;
  cursor:pointer;
}
.navbar-iteam:nth-child(1){
  color: #f6ab4a;
}
.navbar-item-icon{
  position:relative;
}
.dog:hover {
 color: #f6ab4a;
}
.cat:hover{
  color: #f6ab4a;
}
.fish:hover{
  color: #f6ab4a;
}
.item-icon{
  position:absolute;
  top:50%;
  right:-2%;
  width:0;
  height:0;
  border-top:5px solid white;
  border-bottom:5px solid transparent;
  border-right:5px solid transparent;
  border-left:5px solid transparent;
}
.carousel{
  width:100%;
  height:100%;
  border:1px solid black;
  margin: 0 auto ; 
  overflow:hidden;
 
}
.carousel ul{
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-size:0;
  white-space:nowrap;
  transition:0.8s ease-in;
  position:relative;
  
}

.carousel li{
  display:inline-block;
  width:100%;
  margin:0;
  height:100%;
 
}
.carousel-slide{
  width:100%;
  height:100%;
 
  
}
li img{
  width: 100%;
  height:100%;
}
.chuyenslide ul {
	list-style-type:none; 
	text-align:center;
}
.chuyenslide{
	position :absolute;
	text-align:center;
  top:85%;
	left:50%;
	transform:translateX(-50%);
	z-index:9;
}
.chuyenslide ul li{
	display:inline-block;
	width:1em;
	height:1em;
	border-radius:50%;
	border:1px solid black ; 
	text-indent:-9999px;
	transition:0.4s;
	margin: 20px 12px;
	cursor:pointer;
}
.active{
  background-color:#F9A825;
}
.hienthi{
  opacity:1;
}
.animals{
  grid-row:2/span 1 ; 
  grid-column:1;
  width:100%;
  text-align:center;
}
.animals-content{
  margin-top:1.5em;
}
.animals-content>p:nth-child(2){
  font-size:42px;
  color:#7e4c4f;
  font-weight:bold;
  
}
.animals-content>p:nth-child(1){
  font-size: 20px;
    margin-bottom: 10px;
    font-family: Pacifico;
    font-weight: normal;
}
.animals-info{
  width:100%;
}
.animals-info ul{
  list-style-type:none;
  display:flex;
  width:100%;
  margin:0 auto;
}

.animals-info-item{
  width:33.33%;
  justify-content:center;
  align-content:center;
  align-items:center;
  margin-left:.5em;
  margin-right:.5em;
  position:relative;
  padding-bottom:22.2222%;
  padding: 5em .2em;
}
.animals-info-item>h2{
  color:#7e4c4f;
  font-size:1.3em;
  margin-top:.2em;
}
.animals-info-item>p{
  text-align:center;
  margin-top:.4em;
}
.animals-info-item>div{
  width:8em;
  padding:.5em 1em;
  background-color: #f9a825;
  border-radius: 20px 20px 20px 20px ; 
  text-align:center;
  margin: 0 auto ; 
  margin-top:.6em;
  cursor:pointer;
  transition:0.5s;
}
.animals-info-item>img{
  transition:0.4s;
  border-radius:5px;
  cursor:pointer;
  width:100%;
  height:60%;
}
.animals-info-item>img:hover {
  box-shadow: 0 .5em 1px rgba(0,0,0,.4);
}
.animals-info-item>div:hover{
  opacity:0.5;
  animation:0.5s chay forwards linear;
}
.petsafe{
  grid-row:3/span 1;
  grid-column:1;
  width:100%;
  min-height:45em;
  background-image:url("http://cdn.shopify.com/s/files/1/2805/9732/files/img5_b37c343a-c391-4799-bd81-862729ff153f.jpg?v=1517396385");
  background-size:cover;
  background-position:center;
  margin-top:1em;
  background-repeat:no-repeat;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  align-content:center;
  
}
.petsafe>p:nth-child(1){
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Pacifico;
    font-weight: normal;
    color:#f6ab4a;
  margin-top:1em;
  margin-left:1em;
}
.petsafe>h2{
  font-size:3.2em;
  color:white;
  margin-top:1em;
  margin-left:1em;
  opacity:0;
}
.petsafe-text{
  text-align:center;
  color:white;
  font-size:1.2em;
  margin:0 auto; 
  padding:1em 8em;
  transform:translateY(100%);
  opacity:0;
}
.petbutton{
  width:13em;
  padding:1em 1.4em;
  background-color: #f9a825;
  border-radius: 20px 20px 20px 20px ; 
  text-align:center;
  margin: 0 auto ; 
  margin-top:.6em;
  cursor:pointer;
  transition:0.5s;
  margin-top:3em;
  transform:translateY(200%);
}
.petbutton:hover{
  animation: 1s chay forwards linear;
}
.list{
  grid-row:4/span 1 ; 
  grid-column:1;
  width:100%;
  position:relative;
  height:13.2em;
  margin-top:2em;
  margin-left:1em;
  
}
.list-carousel{
  width:100%;
  position:relative;
  height:100%;
  list-style-type:none;
  top:60%;
 
}
.list-item{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  
  height:100%;
  width:100%;
}
.list-carousel div{
  width:20%;
  height:100%;
}
.list-carousel div img{
  position:absolute;
  width:100%;
  transition:0.8s;
  height:100%;
}
.img1{
  top:0;
  left:0;
  z-index:2;
  cursor:pointer;
  opacity:1;
  transition:0.8s;
}
.img2{
  too:0;
  left:0;
  z-index:1;
  cursor:pointer;
}
.list-item li{
  width:100%;
  position:absolute;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
 
}
.list-item li>hr{
  width:40%;
}


.img1:hover{
  opacity:0;
}
.list-price{
  color:#f9a825;
  cursor:pointer;
  margin-top:.7em;
}
.list-price:hover hr{
  width:60%;
}
hr:hover {
  width:60%;
}
.list-item-title{
  color:gray;
  text-align:center;
  margin-top:.7em;
}
.animation{
  position:absolute;
  top:0;
  left:50%;
  width:100%;
  z-index:4;
  background-color: rgba(0,0,0,.05);
  transform: translateX(-50%) scaleX(5) ;
  opacity:1;
  cursor:pointer;
}
.animation:hover .img1{
  opacity:0;
}
 .list-item:nth-child(2){
  left:25%;
}
.list-item:nth-child(3){
  left:50%;
}
.list-item:nth-child(4){
  left:75%;
} 
.list-item li hr{
  transform:translateX(75%);
}
.list-item-author{
  margin-top:.7em;
}
.list-title-1{
      color: #f6ab4a;
  font-size: 20px;
    margin-bottom: 10px;
    font-family: Pacifico;
    font-weight: normal;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}
.list-title-2{
  
  position:absolute;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  color: #7e4c4f;
  font-size:45px;
  overflow:hidden;
}
.list-chuyenslide{
  position:absolute;
  top:215%;
  left:50%;
  transform:translateX(-75%);
}
.list-chuyenslide ul{
  list-style-type:none;  
  display:flex;
}
.list-chuyenslide ul li
{
  margin-right:.3em;
  margin-left:.3em;
}
.list-chuyenslide ul li:nth-child(1){
  width:0;
  height:0;
 margin-top:2px;
  border-right:13px solid #f6ab4a;
  border-left:13px solid transparent;
  border-top:13px solid transparent;
  border-bottom:13px solid transparent;
  cursor:pointer;
}
.list-chuyenslide ul li:nth-child(3){
  width:0;
  height:0;
 margin-top:2px;
  border-left:13px solid #f6ab4a;
  border-right:13px solid transparent;
  border-top:13px solid transparent;
  border-bottom:13px solid transparent;
  cursor:pointer;
}
.list-chuyenslide ul li:nth-child(2){
  width:1px ;
  height:30px;
  background-color: #f6ab4a;
}
.list-chuyenslide ul li:nth-child(1):hover{
   width:0;
  height:0;
 margin-top:2px;
  border-right:13px solid rgba(0,0,0,.4);
  border-left:13px solid transparent;
  border-top:13px solid transparent;
  border-bottom:13px solid transparent;
  cursor:pointer;
}
.list-chuyenslide ul li:nth-child(3):hover{
width:0;
  height:0;
 margin-top:2px;
  border-left:13px solid rgba(0,0,0,.4);
  border-right:13px solid transparent;
  border-top:13px solid transparent;
  border-bottom:13px solid transparent;
  cursor:pointer;
}




@keyframes chay{
  0{
    background-color: #f9a825;
  }
  100%{
    background-color:purple;
  }
}

.dogfood{
  background-image:url("http://cdn.shopify.com/s/files/1/2805/9732/files/tin.jpg?v=1519984883");
  width:100%;
  height:25em;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
 
  grid-row:5/span 1 ; 
  grid-column:1;
  transform:translateY(300px);
}
.dogfood-slide{
 
  width:100%;
  height:100%;
 
}
.dogfood-slide-item{
  position:relative;
  width:30%;
  height:50%;
 
  transform:translateY(50%) translateX(50%);
}
.dogfood-items{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
 
}
.dogfood-item-content{
  overflow:hidden;
 
}
.dogfood-item{
  position:relative;
  width:100%;
  height:100%;

}
.dogfood-item-img{
  width:100%;
  height:100%; 
  position:relative;
  padding:bottom:50%;
}
.dogfood-item-img img{
  position:absolute;
  width:100%;
  height:100%;
  border:1px solid rgba(0,0,0,.05);
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  display:block;
}
@media (min-width:800px){
  .dogfood-item-img img{
    width:75%;
  }
}
.chuyenslides{
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  width:100%;
  
}
.chuyenslides ul{
  position:relative;
  display:flex;
  list-style-type:none;
  width:100%;
  height:100%;
}
.nutprev{
  position:absolute;
  top:0;
  left:-15%;
  transform:translateY(-50%);
}
.chuyenslides ul li:nth-child(2){
  position:absolute;
  top:0;
  left:200%;
  transform:translateY(-50%);
}
.prev{
  width:35px;
  height:35px;
  background-color: violet;
  border-radius:50%; 
  position:relative;
  cursor:pointer;
}
.prev:before{
  content:""; 
  position:absolute;
  width:0px;
  height:0px;
  top:50%;
  left:50%;
  border-right:10px solid white;
  border-bottom:10px solid transparent;
  border-left:10px solid transparent;
  border-top:10px solid transparent;
  transform:translateX(-80%) translateY(-50%);
}
.prev:after{
  content:""; 
  position:absolute;
  top:50%;
  height:50%;
  width:0;
  height:0;
  border-right:7px solid violet;
  border-bottom:7px solid transparent;
  border-left:7px solid transparent;
  border-top:7px solid transparent;
  transform:translateX(58%) translateY(-50%);
}
.next{
  width:35px;
  height:35px;
  background-color: violet;
  border-radius:50%; 
  position:relative;
  cursor:pointer;
}
.next:before{
  content:""; 
  position:absolute;
  width:0px;
  height:0px;
  top:50%;
  left:50%;
  border-left:10px solid white;
  border-bottom:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid transparent;
  transform:translateX(-15%) translateY(-50%);
}
.next:after{
  content:""; 
  position:absolute;
  top:50%;
  height:50%;
  width:0;
  height:0;
  border-left:7px solid violet;
  border-bottom:7px solid transparent;
  border-right:7px solid transparent;
  border-top:7px solid transparent;
  transform:translateX(95%) translateY(-50%);
}
.dogfood-item-content{
  position:absolute;
  top:0;
  left:100%;
  width:100%;
  height:75%;
  text-align:center;
  padding:1em .1em;
  overflow:hidden;
 
}
.dogfood-item-content>p:nth-child(1){
  font-weight:bold;
  color:gray;
  
}
.dogfood-item-content>p:nth-child(2){
  margin-top:.7em;
}
.dogfood-item-content>p:nth-child(2) span{
  color:gray;
}
.dogfood-item-content>hr{
  width:40%;
  margin-top:.7em;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
.food-price{
  text-decoration:line-through;
  color:gray;
  font-size:13px;
}
.food-price-offical{
  color: #f6ab4a;
  font-size:18px;
  margin-top:.7em;
}

@media (max-width:785px){
 .dogfood .dogfood-slide .dogfood-slide-item .chuyenslides ul .nutprev{
  position:absolute;
  top:0;
  left:-15%;
  transform:translateY(-50%);
   
  }
}
@media (max-width:485px){
 .dogfood .dogfood-slide .dogfood-slide-item .chuyenslides ul .nutprev{
  position:absolute;
  top:0;
  left:-20%;
  transform:translateY(-50%);
   
  }
}
@media (max-width:382px){
 .dogfood .dogfood-slide .dogfood-slide-item .chuyenslides ul .nutprev{
  position:absolute;
  top:0;
  left:-25%;
  transform:translateY(-50%);
   
  }
}
@media (max-width:300px){
 .dogfood .dogfood-slide .dogfood-slide-item .chuyenslides ul .nutprev{
  position:absolute;
  top:0;
  left:-30%;
  transform:translateY(-50%);
   
  }
}
.dog-cat-parrot{
  width:100%;
  min-height:40em;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  grid-row:6/span 1 ; 
  grid-column:1;
  margin-top:19.1em;
}
.d-g-p-title{
  
  text-align:center;
}
.d-g-p-title p{
  color: #f6ab4a;
  font-size: 20px;
    margin-bottom: 10px;
    font-family: Pacifico;
    font-weight: normal;
}
.d-g-p-title h1{
  color: #7e4c4f;
  font-size: 45px;
  letter-spacing: 0px;
}
.d-g-p-list{
  width:100%;
  height:100%;
  margin-top:3.5em;
  display:flex;
  margin-left:.5em;
  transition:0.2s;
  
}
.d-g-p-list-item{
  position:relative;
  width:32%;
  height:28em;
  border-radius:10px;
  background-color: rgba(0,0,0,.1);
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  margin-left:.5em;
  margin-right:.5em;
  
}
.d-g-p-list-image{
  position:absolute;
  top:0;
  width:40%;
  
  
  left:50%;
  transform:translateX(-50%) translateY(-50%) ;
}
.d-g-p-list-image img{
  width:100%;
  border:1px solid black;
  border-radius :50%;
}
.d-g-p-content>h2{
  color: #7e4c4f;
  padding: .5em .5em;
}

.d-g-p-price{
  font-size:30px;
  padding:.5em .5em;
}
.d-g-p-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:1.5em;
  padding: 3em .5em; 
}
.d-g-p-list-button{
  width:8em;
 background: #f6ab4a;
  border-radius:30px;
 padding:1.1em 0.3em;
  cursor:pointer;
}
.d-g-p-content>p{
  padding: 1em 1em ; 
}
@media (max-width:700px){
  .d-g-p-list-image{
    width:35%;
  }
}
@media (max-width:800px){
  .d-g-p-list-image{
    width:30%;
  }
}
@media (min-width:800px){
  .d-g-p-list-image{
    width:30%;
  }
}
@media (min-width:850px){
  .d-g-p-list-image{
    width:25%;
  }
}
@media (max-width:465px){
 .d-g-p-list-button{
  width:5.5em;
 background: #f6ab4a;
  border-radius:10px 10px 10px 10px;
 font-size:12px;
 padding:0.8em 0.05em;
}
  .d-g-p-content>p{
    font-size:14px;
  }
  .d-g-p-content>h2:nth-child(1){
    font-size:16px;
  }
  .d-g-p-price{
    font-size:22px;
  }
}
.d-g-p-list-button:hover{
 background:purple !important;
}

.d-g-p-list-item:hover{
  background-color: #f6ab4a;
}
.d-g-p-list-item:hover .d-g-p-content p{
  color:white;
}
.d-g-p-list-item:hover .d-g-p-list-button{
  background:purple;
}
.dgpup{
  animation : 1s dgp forwards linear ; 
}
@keyframes dgp {
 0%{
   opacity:0;
   transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}











@media screen and (max-width:850px){
  .list-title-2{
    font-size:30px;
  }
}
@media screen and (max-width:300px){
  .info-left{
    flex-direction:column;
    font-size:8px;
  }
  .info-left-splash{
    opacity:0;
  }
}
@media screen and(max-width:500px){
  .search-img img{
   
    width:15vw;
     padding: 0.6em .1em;
  }
  .search-img img{
    width:15vw;
  }
}
@media screen and (max-width:700px){
  .animals-info ul{
    display :flex; 
    flex-direction:column;
    jusitfy-content:center;
    align-items:center;
    align-content:center;
  }
  .animals-info ul li{
    width:80%;
  }
  .animals-info-item img{
    width:50%;
    margin-top:1em;
  }
  .animals-info-item p{
    padding: .2em 8.5em;
  }
  
}
@media only screen and (max-width:650px){
  .list-carousel {
    display:flex;
    flex-direction:column;
  }
  .list-item{
    width:100%;
  }
}
@media (max-width:650px){
  .d-g-p-list{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:center;
  }
  .d-g-p-list-item{
    margin-top: 6em;
    width:60%;
  }
}
@media (max-width:640px){
  .list-item:nth-child(1){
    left:30%;
    transform:translateX(-50%);
  }
  .list-item:nth-child(2){
  transform:translateX(-50%);
  left:60%;
}
.list-item:nth-child(3){
  opacity:0;
  left:50%;
}
.list-item:nth-child(4){
  opacity:0;
  left:75%;
} 
  
}
@media (max-width:400px){
  .list-item:nth-child(2){
    opacity:0;
  }
  .list-item:nth-child(1){
    left:50%;
    transform:translateX(-50%);
  }
  .list-chuyenslide{
    transform:translateX(-50%);
  }
}
.animalup{
  animation : 0.25s anmup forwards linear ; 
}
@keyframes anmup {
  0%{
    opacity:0;
    transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}
.carouselup{
  animation: 0.5s cup forwards linear; 
}
@keyframes cup{
  0%{
    opacity:0;
    transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}


.number1{
  transform:translateX(-100%);
}
.number2{
  transform:translateX(-200%);
}
.number0{
  transform:translateX(0%);
}
.carouselup1{
  animation :0.25s cup1 forwards linear ; 
  animation-delay : 0.25s ;
}
@keyframes cup1{
  0%{
    opacity:0;
    transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}
.carouselup2{
  animation :0.25s cup2 forwards linear ; 
  animation-delay : 0.5s ;
}
@keyframes cup2{
  0%{
    opacity:0;
    transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}
.carouselup3{
  animation :0.25s cup3 forwards linear !important ; 
  animation-delay : 1.5s ;
}
@keyframes cup3{
  0%{
    opacity:0;
    transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}
.dogin{
  animation : 1s dogin forwards linear ; 
}
@keyframes dogin{
  0%{
   
    oapcity:0;
  }
  100%{
    opacity:1;
  }
}
.dogout{
  animation:1s dogout forwards linear ; 
}
@keyframes dogout{
  0%{
    opacity:1;
    tranform:scale(1);
  }
  100%{
    opacity:0;
    transform:scale(1.5);
  }
}

.careofpet{
  width:100%;
  height:40em;
  background-image:url('http://cdn.shopify.com/s/files/1/2805/9732/files/img11_b4189267-b686-4150-b485-e10c1adfdd49.jpg?v=1517400659'); 
  background-size:cover;
  background-position:center;
  position:relative;
  background-color:rgba(0,0,0,.2);
  opacity:0.88;
  overflow:hidden;
  grid-row:7/span 1 ;
  grid-column: 1;
  margin-top:3em;
}
.carepet-content{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
  padding: 4em .5em;
  float:right;
  transform:translateY(100%);
  transition:0.5s;
}
.clear{
  clear:both;
}

.carepet-content h3{
  color: #f6ab4a;
  cursor:pointer;
  padding: 1.2em 1em;
}
.carepet-content p{
  color:white;
  padding: 1.2em 1.5em;
}
.cover-carepet{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.2);
  z-index:-1;
}
.carepet-content h3:hover{
  color:white  ;
}
.carepetup{
  animation: careup 1s forwards linear;
}
@keyframes careup {
  0%{
    opacity:0; 
    transform:translateY(100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%);
  }
}
.tiphack{
  width:100%;
 
  height:100%;
  position:relative;
  grid-row:8/span 1 ; 
  grid-column:1;
  margin-top:5em;
}
.tiphack-carousel{
  width:100%;
  height:100%;
  overflow:hidden;
  margin-top:5em;
}
.tiphack-slide{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.tiphack-items{
  list-style-type:none;
  width:500%;
  height:15em;
 
  margin:0;
  padding:0;
  display:flex;
 
}
.tiphack-item{
  width:100%;
  height:100%;
  display:flex;
  margin: 0 auto;
  transition:0.8s ease-in-out;
}
.tiphack-item-img{
  width:50%;
  height:100%;
 
  position:relative;
  border-bottom:50%;
}
.tiphack-item-img img{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  display:block;
}
.tiphack-item-content{
  width:50%;
  height:100%;
  display:flex;
  flex-direction:column;
 
}
.tiphack-item-content div{
  background-color: #ccc;
  width:10em;
  text-align:center;
  padding: .3em .3em;
  border-radius:5px;
  color:rgba(255,255,255,0.9);
  margin-left:1em;
  margin-top:1em;
  cursor:pointer;
  transition:0.4s;
  margin-top:1.5em;
}
.tiphack-item-content h3{
  color: #7e4c4f ;
  font-weight: bold ; 
  font-size: 1.5em;
  margin-left:1em;
  cursor:pointer;
  transition:0.4s;
  margin-top :1.5em;
}
.tiphack-item-content a{
  text-decoration:none;
  color: #f6ab4a;
  margin-left:1em;
  transition:0.4s;
  margin-top:1.5em;
}
.tiphack-item-content p{
  margin-left:1em;
  margin-top:1.5em;
}
.tiphack-item-content div:hover{
  background-color: #7e4c4f;
}
.tiphack-item-content h3:hover{
  color: #f6ab4a;
}
.tiphack-item:nth-child(2n){
  flex-direction:row-reverse;
}
.tiphack-nutslide{
  position:absolute;
  left:50%;
  bottom:-15%;
 transform:translateX(-50%);
  
}
.tiphack-nutslide ul{
  list-style-type:none;
}
.tiphack-nutslide ul li{
  width:12px;
  height:12px ; 
  border: 2px solid #7e4c4f ; 
  border-radius:50%;
  display:inline-block;
  cursor:pointer;
}
.tiphack>p{
  text-align:center;
  color:#f6ab4a;
}
.tiphack>h2{
  color:#7e4c4f;
  text-align:center;
  font-size:2em;
  font-weight:bold;
}
@media screen and (max-width:500px){
  .tiphack-item{
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items:center;
    
  }
  .tiphack-item:nth-child(2n){
    flex-direction:column;
  }
  .tiphack-items{
    height:30em;
  }
  .tiphack-item-img{
    height:80%;
  }
}
@media (max-width:350px){
  .tiphack-item-content div{
    font-size:12px;
  }
  .tiphack-item-content p{
    font-size:12px;
  }
  .tiphack-item-content h3{
    font-size:15px;
  }
  .tiphack-item-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .tiphack-item-img{
    height:50%;
  }
}
.tip-active{
  background-color : #f6ab4a; 
}
.tip-trans{
  transform:translateX(-100%);
}
.client{
  width:100%;
  background-image:url('http://cdn.shopify.com/s/files/1/2805/9732/files/img4.jpg?v=1517642979');
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat :no-repeat ; 
  height:40em;
  display:flex;
  flex-direction:column;
  jusitfy-content:center;
  align-items:center;
  align-content:center;
  overflow:hidden;
  grid-row:9/span 1;
  grid-column:1;
  margin-top:15em;
}
.client p{
  color:#f6ab4af;
  font-size: 20px;
  font-family: Pacifico;
  font-weight: normal;
  margin-top:1.5em;
}
.client h2{
  color: #7e4c4f;
  font-size:3.5em;
  margin-top:1.5em;
}
.client-slide{
  width:100%;
  height:100%;
  margin-top:4.5em;
  position:relative;
}
.client-carousel{
  width:85%;
  height:60%;
  
  margin: 0 auto ; 
  
}
.client-carousel ul{
  width:300%;
  height:100%;
  
  margin:0 auto;
  display:flex;
  list-style-type:none;
  overflow:hidden;
}
.client-carousel ul li{
  width:100%;
  height:100%;
 
  transition:0.5s;
  
}
.client-item div{
  display:flex;
  justify-content:center;
 
  
}
.client-item div p{
  display:flex;
  flex-direction:column;
  margin-left:.5em;
  color:rgba(0,0,0,.5) !important;
}
.client-item div img{
  margin-right:1.5em;
  border-radius:50%;
  width 5%;
  height:5%;
  padding:.55em .2em;
  
}
.client-item p{
  color:rgba(0,0,0,.5) ;
  padding: .5em 2em;
  text-align:center;
}
.client-button-slide{
  position:absolute;
  bottom:20%;
  left:50%;
  transform:translateX(-50%);
}
.client-button-slide ul{
  list-style-type :none;
  
}
.client-button-slide ul li{
  width:12px;
  height:12px;
  border:1.5px solid #7e4c4f;
  display:inline-block;
  border-radius:50%;
  cursor:pointer;
  transition:0.3s;
}
.client-active{
  background-color: #f6ab4a;
}
.client-img{
  width:10%;
  height:10%;
 
}
.client-item:nth-child(2) .client-img{
  transform:translateY(15%);
}
.client-item:nth-child(3) .client-img{
  transform:translateY(15%);
}
.client-item:nth-child(1) .client-img{
  tranform:translateY(25%);
}
@media (max-width:750px){
  .client-carousel{
    width:50%;
  }
  .client-item div img{
    transform:translateY(50%);
  }
  .client h2{
    font-size:18px;
    transform:translateY(65px);
  }
  .client>p{
    font-size:12px;
    transform:translateY(50px);
  }
  .animals-content>p:nth-child(2){
    font-size:18px;
  }
  .animals-content>p:nth-child(1){
    font-size:12px;
  }
  .petsafe h2{
    font-size:18px;
  }
  .petsafe-text{
    font-size:12px;
    width:65%;
  }
  .petbutton{
   width:13em;
  padding:1em 1.4em;
  background-color: #f9a825;
  border-radius: 20px 20px 20px 20px ; 
  text-align:center;
  margin: 0 auto ; 
  margin-top:.6em;
  cursor:pointer;
  transition:0.5s;
  margin-top:3em;
  transform:translateY(200%);
    font-size:12px;
  }
}

/* start-support */

.support{
  width:100%;
  height:100%;
  margin-top:5em;
  grid-row:10/span 1;
  grid-column:1;
  margin-top: 3em;
}
.support-slide{
  width:100%;
  height:100%;
  position:relative;
  margin-top:4em;
}
.support-carousel{
  width:100%;
  height:100%;
  overflow:hidden;
}
.support-carousel ul{
  width:120%;
  height:100%;
 
  display:flex;
  list-style-type:none;
  overflow:hidden;
}
.support-carousel ul li{
  width:20%;
  height:50%;
 
  transition:0.5s;
  cursor:pointer;
  position:relative;
  padding-bottm:40%;
}
.support-img img{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.support-nutslide{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:-5%;
}
.support-nutslide ul{
  list-style-type:none;
  
}
.support-nutslide ul li{
  display:inline-block;
  width:15px;
  height:15px;
  border:1.8px solid #7e4c4f;
  border-radius:50%;
  margin-left:.5em;
  text-indent:-9999px;
  cursor:pointer;
  transition:0.5s;
  
}
.support-active{
  background-color:#f6ab4a;
}
.support>p{
  color:#f6ab4a;
  text-align:center;
  font-size:20px;
}
.support>h2{
  color:#7e4c4f;
  font-size:45px;
  text-align:center;
  margin-top:.5em;
}
.support:nth-child(n){
  padding:1em 2em;
}




/* end-support */



/* support-start */




.information{
  width:100%;
  height:50%;
  background-color:rgba(0,0,0,.1);
  grid-row:11/span 1;
  grid-column:1;
  margin-top:15em;
}
.info-content{
  display:flex;
  width:100%;
  height:100%;
  overflow:hidden;
  margin-top:1.5em;
  
}
.info-content :nth-child(n){
  padding-left:.65em;
  padding-right:.65em;
  overflow:hidden;
}
.info-content h2{
  color: #7e4c4f;
}
.info-content>div{
  width:20%;
  
}
.info-content ul{
  list-style-type:none;
}
.info-content h2{
  padding:.5em .2em;
}
.info-content p{
  padding:1em .2em;
}
.info-content ul{
  padding:1em .2em;
}
.info-content ul :nth-child(n){
  padding:.2em .05em;
}
.info-content :nth-child(5) p{
  padding:1em .2em;
  padding-bottom:0;
  
}
@media (max-width:750px){
  .info-content h2{
    font-size:14px;
  }
  .info-content p{
    font-size:10px;
  }
  .info-content ul li{
    font-size:10px;
  }
  .info-content{
    height:65%;
  }
  
.info-content h2{
  padding:.5em .2em;
  padding-bottom:0;
}
.info-content p{
  padding:1em .2em;
  padding-bottom:0;
}
.info-content ul{
  padding:1em .2em;
  padding-bottom:0;
}
.info-content ul :nth-child(n){
  padding:.2em .05em;
  padding-bottom:0;
}
}
@media (max-width:480px){
  .info-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .info-content>div{
    width:50%;
  }
  .info-content{
    margin-top:0;
  }
  .information{
    height:100%;
  }
}



/* support-end */